@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
* {
	padding: 0;
	margin: 0;
}
body {
	padding: 0;
	margin: 0;
	background-color: #e1e1e1d1;
}
img {
	width: 100%;
	height: 100%;
}
/* stylelint-disable selector-list-comma-newline-after */

.blog-header {
	border-bottom: 1px solid #e5e5e5;
  }
  
  .blog-header-logo {
	font-family: 'Open Sans', sans-serif;
	font-size: 2.25rem;
	font-weight: 800;
  }
  
  .blog-header-logo:hover {
	text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
	font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
  }
  
  .display-4 {
	font-size: 2.5rem;
  }
  @media (min-width: 768px) {
	.display-4 {
	  font-size: 3rem;
	}
  }
  
  .flex-auto {
	flex: 0 0 auto;
  }
  
  .h-250 { height: 250px; }
  @media (min-width: 768px) {
	.h-md-250 { height: 250px; }
  }
  
  /* Pagination */
  .blog-pagination {
	margin-bottom: 4rem;
  }
  
  /*
   * Blog posts
   */
  .blog-post {
	margin-bottom: 4rem;
  }
  .blog-post-title {
	font-size: 2.5rem;
  }
  .blog-post-meta {
	margin-bottom: 1.25rem;
	color: #727272;
  }
  
  /*
   * Footer
   */
  .blog-footer {
	padding: 2.5rem 0;
	color: #727272;
	text-align: center;
	background-color: #f9f9f9;
	border-top: .05rem solid #e5e5e5;
  }
  .blog-footer p:last-child {
	margin-bottom: 0;
}
.page-item {
    background-color: #fff;
		border-radius: 5px;
}
.btn-subscribe {
	color: #ffff;
	background-color: red;
}
.btn-subscribe:hover {
	color: #ffffff;
    background-color: gold;
}
.item_name {
	font-weight: 600;
	text-decoration: underline;
	text-decoration-color: red;
	text-decoration-thickness: 3px;
	text-underline-offset: 6px;
}
.clamp-3 {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}
.clamp-2 {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}
:root {
  --regular-height: 10px;
  --smaller-height: 4px;
  --angular-material-background: #0066ff;
  --angular-material-bar: #0066ff;
  --linear-background: #ffffff;
  --linear-bar: #0066ff#1565C0;
}
.linear-progress-material {
  background: #fff;
  height: var(--regular-height);
  position: relative;
  width: 50%;
  margin: 0 auto;
  margin-top: 2rem;
  overflow: hidden;
  animation: start .3s ease-in;
}

.linear-progress-material.small {
  width: 100%;
  height: var(--smaller-height);
	border-radius: 5px;
}

.linear-progress-material .bar {
  position: absolute;
  background: var(--angular-material-bar);
  transition: transform .2s linear;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}

.linear-progress-material .bar1 {
  animation: growBar1 2.5s infinite, moveBar1 2.5s infinite;
}

.linear-progress-material .bar2 {
  animation: growBar2 2.5s infinite, moveBar2 2.5s infinite;
}
@keyframes growBar1 {
  0% {
    animation-timing-function: linear;
    transform: scaleX(0.1);
  }
  36.6% {
    animation-timing-function: cubic-bezier(0.33473, 0.12482, 0.78584, 1);
    transform: scaleX(0.1);
  }
  69.15% {
    animation-timing-function: cubic-bezier(0.22573, 0, 0.23365, 1.37098);
    transform: scaleX(0.83);
  }
  100% {
    transform: scaleX(0.1);
  }
}

@keyframes moveBar1 {
  0% {
    left: -105.16667%;
    animation-timing-function: linear;
  }
  20% {
    left: -105.16667%;
    animation-timing-function: cubic-bezier(0.5, 0, 0.70173, 0.49582);
  }
  69.15% {
    left: 21.5%;
    animation-timing-function: cubic-bezier(0.30244, 0.38135, 0.55, 0.95635);
  }
  100% {
    left: 95.44444%;
  }
}

@keyframes growBar2 {
  0% {
    animation-timing-function: cubic-bezier(0.20503, 0.05705, 0.57661, 0.45397);
    transform: scaleX(0.1);
  }
  19.15% {
    animation-timing-function: cubic-bezier(0.15231, 0.19643, 0.64837, 1.00432);
    transform: scaleX(0.57);
  }
  44.15% {
    animation-timing-function: cubic-bezier(0.25776, -0.00316, 0.21176, 1.38179);
    transform: scaleX(0.91);
  }
  100% {
    transform: scaleX(0.1);
  }
}

@keyframes moveBar2 {
  0% {
    left: -54.88889%;
    animation-timing-function: cubic-bezier(0.15, 0, 0.51506, 0.40968);
  }
  25% {
    left: -17.25%;
    animation-timing-function: cubic-bezier(0.31033, 0.28406, 0.8, 0.73372);
  }
  48.35% {
    left: 29.5%;
    animation-timing-function: cubic-bezier(0.4, 0.62703, 0.6, 0.90203);
  }
  100% {
    left: 117.38889%;
  }
}
.d-nonew {
	display: none;
}
.register-left {
	background-image: url('../system/sign-up.jpg');
	background-size: cover;
  height: 75vh;
	background-position-x: 25%;
}
.register-right {
	background-color: #f9f9f9;
}
.form-input:focus {
  color: var(--bs-body-color);
  background-color: #ffffff;
  outline: none;
  box-shadow: 0 0 0 0.25rem rgb(255 255 255 / 25%);
  border: none;
  border-bottom: 2px solid #0dcaf0;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.form-input {
	outline: none;
	border: none;
	border-bottom: 2px solid #0dcaf0;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.login-left {
	background-image: url('../system/login.jpg');
	background-size: cover;
  height: 75vh;
	background-position-x: 53%;
}
.login-right {
	background-color: #f9f9f9;
}









@media (min-width: 768px) {
	.register-left {
		background-image: url('../system/sign-up.jpg');
		background-size: cover;
		height: 75vh;
		background-position-x: 65%;
	}
}
